asgiref
boto3
botocore
Django>=4.2,<5.0
django-cors-headers
django-extensions
django-filter
djangorestframework
djangorestframework-simplejwt
flake8
gunicorn
jmespath
mccabe
psycopg2-binary
pycodestyle
pyflakes
PyJWT
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
wget
whitenoise
drf-yasg
pyyaml>=6.0.1
uritemplate
django-rest-passwordreset
django-debug-toolbar
django-import-export
timeago
celery
flower
redis
django-redis
django-prometheus
django-otp
pillow
pillow-heif
google-generativeai
bs4
markdown
docxtpl
python-docx
docxcompose
firebase-admin
openai
drf-api-logger
imageio-ffmpeg
requests
PyPDF2
sentry-sdk[django]
ipython